
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# Data artifacts
/data/*.parquet
/data/sampled_urls_run_*.json
/data/indices/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
